{% extends 'index.html' %}
{% block login %}
{% endblock login %}
{% block titulo %}
<title>Login</title>
{% endblock titulo %}

{% block sub_titulo %}
<h1 class="mt-4">Sistema de Ingreso a Usarios</h1>
{% endblock sub_titulo %}



{% block link %}href={% url 'maestro' %}{% endblock link %}

{% block campos %}
<p>
    <a href = {% url 'maestro' %}>Volver<a/>
</p>
<body>
    <form action = "" method = "post"> 
        {% csrf_token %}
        <table>
        {{form.as_table}}
        </table>
        <button>Login</button>
    </form>

</body>

{% endblock campos %}



