{% extends 'index.html' %}
{% block titulo %}
<title>Busqueda de productos</title>
{% endblock titulo %}

{% block sub_titulo %}
<h1 class="mt-4">Busqueda de productos</h1>
{% endblock sub_titulo %}

{% block sub_titulo_2 %}
<li class="breadcrumb-item active">Introduzca un texto exacto o que contenga</li>
{% endblock sub_titulo_2 %}

{% block link %}href={% url 'crear_producto' %}>{% endblock link %}

{% block campos %}

<body>
    
    <form action= {% url 'busqueda_producto' %}>
        {{form}}

        <button>Buscar</button>
        <p></p>
        <p></p>
        <p>Resultado de la busqueda:</p>
            {%for producto in productos_listado%}
            <li>Compañia: {{producto.producto_cia}}- Código: {{producto.producto_codigo}}- Descripción: {{producto.producto_descripcion}}- Fecha Creacion: {{producto.producto_fecha}}</li>
            {% endfor %}
        </ul>
{% comment "" %}
    <form action="/buscar/" method = "GET">

        <input type = 'text' name= 'productoCodigo' id = 'productoCodigo'>
        <input type = 'submit' value = "Buscar"
    </form>
    {% endcomment %}
</body>

{% endblock campos %}



