{% extends 'index.html' %}
{% block titulo %}
<title>Alta de Productos</title>
{% endblock titulo %}

{% block sub_titulo %}
<h1 class="mt-4">Alta de productos</h1>
{% endblock sub_titulo %}

{% block sub_titulo_2 %}
<li class="breadcrumb-item active">Completar todos los campos con *</li>
{% endblock sub_titulo_2 %}

{% block link %}href=""{% endblock link %}

{% block campos %}

<body>
    <form action="/crear_stock/" method = "POST"> {% csrf_token %}
        <p>Nombre Compañía: <input type= 'text' name = 'productoCia'></p>
        <p>Código de Producto: <input type= 'text' name = 'productoCodigo'></p>
        <p>Descripción de Producto: <input type= 'text' name = 'productoDescripcion'></p>
        <p>Cantidad de Producto: <input type= 'text' name = 'productoCantidad'></p>
        <p>Costo Unitario Producto: <input type= 'text' name = 'productoCosto'></p>
        <input type = 'submit' value = 'Ingresar'>
        

    </form>
</body>

{% endblock campos %}



