{% extends 'busqueda_producto.html' %}



{% block titulo %}
<title>Edicion de Productos</title>
{% endblock titulo %}

{% block sub_titulo %}
<h1 class="mt-4">Edicion de Productos</h1>
{% endblock sub_titulo %}

{% block sub_titulo_2 %}
<li class="breadcrumb-item active">Edite según el campo deseado.</li>
{% endblock sub_titulo_2 %}

{% block accion %}
{% endblock accion %}
{% block informacion %}
{% endblock informacion %}

{% block campos %}
{{form}}
<body>
    <form action="/edite_producto/" method = "POST"> 
        {% csrf_token %}
        
        <p>Edicion de productos:</p>
        <p>Nombre Compañía: <input type= 'text' name = 'producto_cia'></p>
        <p>Código de Producto: <input type= 'text' name = 'producto_codigo'></p>
        <p>Descripción de Producto: <input type= 'text' name = 'producto_descripcion'></p>
        <p>Valor: <input type= 'number' name = 'producto_costo'></p>
        <input type = 'submit' value = 'Editar'>
 
    </form>

</body>


{% endblock campos %}