<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer MTV</title>
</head>
<body>

    
    MTV de {{nombre}} {{nombre2}}

    <p>Para consultar la base de datos escriba en la barra de direcciones lo siguiente:</p>

    <p> Para crear /crear/nombre/edad/documento</p>
    <p> Para ver la lista de familiares es: /listado-familia</p>

</body>
</html>